
	
img{
	width: 50%;
	height:100%;
	float: left;
	padding:50px;
	
}
h1{
	font-family: sans-serif;
	font-size: 30px;
	padding:10px;

}
h2{
	font-family: inherit;
	font-size: 20px;
	padding:10px;
}
ul{
	padding-top: 40px
}
li{
	font-family:all; 
	font-size: 30px;
	padding:10px;
	
}
a{
	font-size: 18px
	font-family:inherit;
	font-color:#00008B;
	

}